<h2>Consulte o orçamento</h2>

<%= link_to 'Histórico de Pesquisas', admins_backoffice_query_history_index_path %>

<% if @carriers.any? %>
  <%= form_with url: admins_backoffice_budget_result_path, method: :get do |f| %>

    <div>
      <%= f.label :carrier_id, 'Transportadora' %>
      <%= f.collection_select :carrier_id, @carriers, :id, :brand_name %>
    </div>

    <div>
      <%= f.label :distance, "Distância até a transportadora" %>
      <%= f.number_field :distance %>
    </div>

    <div>
      <%= f.label :weigth, 'Peso' %>
      <%= f.number_field :weigth %>
    </div>

    <%= f.submit "Consultar" %>
  <% end %>
<% else %>
  <p class="alert">Não há transportadora disponíveis.</p>
<% end %>


<%= link_to 'Voltar', admins_backoffice_welcome_index_path, class: 'back-button' %>