<h2>Transportadoras</h2>

<%= link_to 'Cadastrar transportadora', new_admins_backoffice_carrier_path, class: 'register-button'%> 

<% unless @carries.any? %>
  <div class="collection-empty">
    Não há transportadoras cadastradas.
  </div>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Razão Social</th>
        <th>Domínio</th>
        <th>CNPJ</th>
        <th>Endereço para faturamento</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @carries.each do |carrier| %>
        <tr>
          <td> <%= carrier.brand_name %> </td>
          <td> <%= carrier.corporate_name %> </td>
          <td> <%= carrier.email_domain %> </td>
          <td> <%= carrier.registered_number %> </td>
          <td> <%= carrier.billing_address %> </td>
          <td> <%= link_to 'Detalhes', admins_backoffice_carrier_path(carrier) %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<%= link_to 'Voltar', admin_path, class: 'back-button'%>