<h2>Novo prazo</h2>

<% if @deadline.errors.any? %>
  <div>
    <p>Verifique os erros abaixo:</p>
    <ul>
      <% @deadline.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [:users_backoffice, @deadline] do |f| %>
  <div>
    <%= f.label :lower_limit %>
    <%= f.number_field :lower_limit %>
  </div>

  <div>
    <%= f.label :upper_limit %>
    <%= f.number_field :upper_limit %>
  </div>

  <div>
    <%= f.label :days %>
    <%= f.number_field :days %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Voltar', users_backoffice_deadlines_path, class: 'back-button' %>
