<h2> Veículos de <%= current_user.carrier.brand_name %> </h2>

<% if @vehicles.any? %>
  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Ano de Fabricação</th>
        <th>Capacidade</th>
        <th> <%= link_to 'Registrar', new_users_backoffice_vehicle_path %> </th>
      </tr>
    </thead>

    <tbody>
      <% @vehicles.each do |vehicle| %>
        <tr>
          <td> <%= vehicle.plate %> </td>
          <td> <%= vehicle.brand %> </td>
          <td> <%= vehicle.model %> </td>
          <td> <%= vehicle.manufacturing_year %> </td>
          <td> <%= vehicle.capacity %> </td>
          <td>
            <%= link_to 'Detalhes', users_backoffice_vehicle_path(vehicle.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Não há veículos registrados</p>
<% end %>

<%= link_to 'Voltar', users_backoffice_welcome_index_path, class: 'back-button' %>