<!DOCTYPE html>
<html>
  <head>
    <title>DeliverySystemApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="head_container">
      <div class="title-content">
        <h1> <%= link_to 'Sistema de Entregas', root_path, class: 'home-button' %></h1>
      </div>

      <% unless admin_signed_in? %>
        <div class="menu-content">
          <ul class="menu-list">
            <li>Entrar</li>
            <li>Cadastrar</li>
          </ul>
        </div>
      <% else %>
        <div class="entity-container">
          <p class="current-entity">
            <span>Admin:</span> <%= current_admin.email %>
          </p>
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
        </div>
      <% end %>
    </header>

    <main>
      <% if notice || alert %>
        <div style="color: #FF0000">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div> 
      <% end %>


      <%= yield %>
    </main>
  </body>
</html>
