<!DOCTYPE html>
<html>
  <head>
    <title>DeliverySystemApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="head_container">
      <div class="title-content">
        <h1> <%= link_to 'Sistema de Entregas', root_path, class: 'home-button' %></h1>
      </div>

      <% unless admin_signed_in? || user_signed_in? %>
        <div class="menu-content">
          <ul class="menu-list">
            <li> <%= link_to 'Entrar', new_user_session_path %> </li>
            <li> <%= link_to 'Cadastrar-se', new_user_registration_path %> </li>
          </ul>
        </div>
      <% else %>
        <div class="entity-container">
          <p class="current-entity">
            <% if admin_signed_in? %>
              <span> <%= current_admin.model_name.human %>: </span> <%= current_admin.email %>
              <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
            <% elsif user_signed_in? %>
              <span> <%= current_user.model_name.human %>: </span> <%= current_user.email %>
              <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
            <% end %>
          </p>
        </div>
      <% end %>
    </header>

    <main>
      <div>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
      </div> 
    
      <%= yield %>
    </main>
  </body>
</html>
